if cervezas
      each cerveza in cervezas
    
          .card.beer-cards.col.l4.m4.s12.z-depth-4.card.grey.darken-3 
            br
            a(href="/mi" class="userdate  ") #{cerveza.username}
            p(class="gray-text userdate2") Publicado el : #{cerveza.createdAt.toLocaleString()}
            h3(class="title-card grey-text blue-text darken-1 userdate")  #{cerveza.title}  
            a(href="#")        
              img(src=`${cerveza.imagen}` class="imagen card-image ")
            p(class="comment-text") #{cerveza.comentarios}

      //manejo de errores
      if cervezas.length <=0
        .row
          h1(class="amber-text") ¡Sube tú cerveza!


