.row
  .col.s12.m12.l12
    if cervezas
      each cerveza in cervezas
        a(href=`/cerveza/${cerveza.id}`)

          .card.grey.darken-4.beer-cards.col.s12.m4.l4
            br
            h5(class="comment-text") #{cerveza.title}
            a(href=`/cerveza/${cerveza._id}`)        
              img(src=`/upload/${cerveza.imagen}` class="imagen card-image")
            p(class="comment-text") #{cerveza.comentarios}

//manejo de errores
if cervezas.length <=0
  .row
    h1(class="amber-text center") ¡Sube tú cerveza!


