extends layout

block content
     .row
          if lugares
               each lugar in lugares
                    br
                    h4.title.center #{lugar.nombre}
                    h5.title #{lugares._id}
                    br
                    .row
                         .col.l7

                              a(href=`/lugar/${lugar._id}`)
                                   .card.grey.darken-4
                                        .card-image
                                             img(src=`${lugar.imagen}` class="responsive-img")
                                             h2.card-title #{lugar.nombre}

                                        .card-content
                                             p.title #{lugar.direccion}

                         .col.l5
                              h4.title Comentar



